
@{
    ViewBag.Title = "Index";
}


<h1>We Welcome You To Our Website</h1>
<h2>Well Application is getting build...</h2>

<ol>
    <li><a href="/Home/Index">Home</a></li>
    <li><a href="/Home/About">AboutUs</a></li>
    <li><a href="/Home/Contact">Contact</a></li>
    <li><a href="/Products/Index">Products</a></li>
    <li><a href="/Accounts/Login">Login</a></li>
    <li><a href="/Accounts/Register">SignUp</a></li>
</ol>